@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 0, 0;
  --background-start-rgb: 120, 0, 0;
  --background-end-rgb: 0, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.title{
  text-align: center;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.memberpage{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns of equal width */
  gap: 10px;
  background-color: rgb(247, 247, 247);
}

.mainpage{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Creates 2 columns of equal width */
  gap: 0px;
}

section.team-member,
div.team-member{
  border: rgb(0, 0, 0) 4px solid;;
  background-color: rgb(143, 177, 248);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

h3{
  font-size: 30px;
  border: 6px solid black;
}

p.team-member-content{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid grey;
  width: 80%;
  margin: auto;
  border: 2px black;
  padding: 10px;
}

.navbarmini{
  border: 2px solid rgb(153, 52, 52);
  padding: 10px;
  align-items: center;
  background: rgb(17, 27, 59);
  color: white;
  font-size: 32px;
  text-align: center;
}

.navbaritems{
  padding: 10px;
  padding-inline: 3%;
  background: rgb(131, 55, 55);
  color: white;
  font-size: 16px;
}

main {
  min-height: 100vh;
  background-image: url('/forgebg.png');
  background-size: cover;
  background-position: center center;
}

.team-member-image{
  flex: center;
  padding: 10px;
}

div.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem; 
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button{
  border: 2px solid black;
}